server:
  port: 2399


spring:
  application:
    name: s-pay # 当前服务的应用名
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  # 日期返回格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8


#日志
logging:
  config: classpath:logback-spring.xml
  file:
    path: ${user.home}/${spring.application.name}/logs